footer {
  width: 100%;
  /* background: black; */
  background:black;
  padding: 1.5em;
  text-align: center;
  margin-top: 1.5rem;
}

  ul li {
    color: white;
    list-style: none;
  }

  .fab{
    font-size:1.5em;
    padding:10px;
    color:white
}

.fab:hover{
  color:gold;
}